table {
	 border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

td,th {
	text-align: left;
  padding: 16px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
button {
	background-color: #C67D01;
	outline: none;
	border: none;

}
input {
	padding: 10px 11px;
}

#filter {
	width: 50%;
	text-align: center;
	margin-left: 20%;
}

.x {
	cursor: no-drop;
}